name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    # Runs at 03:00 UTC on the 1st day of every month
    - cron: "0 3 1 * *"

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Conan
        uses: conan-io/setup-conan@v1

      - name: Build
        run: perl ./bin/build.pl -t

      - name: Test
        run: ctest --output-on-failure --test-dir build --build-config Release

      - name: Upload bin/ artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ runner.os }}
          path: bin/**/deltaFlow*
